@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --bg-color: rgb(18, 18, 19);
  --text-color: white;
  --letter-color: rgb(58, 58, 60);
  --key-color: rgb(129, 131, 132);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  font-family: "Inter";
}

.heading {
  font-size: 2em;
  margin: 14px 0;
}

hr {
  height: 1px;
  background-color: var(--letter-color);
  border: none;
}

.main-container {
  display: flex;
  justify-content: center;
}

.card-container {
  margin-top: 2px;
  width: 300px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.letter {
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--letter-color);
}

span {
  font-size: 1.8em;
  font-weight: bold;
}

.keyboard-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.keyboard {
  width: 400px;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.key-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.normal-key {
  background-color: var(--key-color);
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  width: 36px;
  height: 48px;
  border: none;
  border-radius: 5px;
}

.sp-key {
  background-color: var(--key-color);
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  width: 53px;
  height: 48px;
  border: none;
  border-radius: 5px;
}

.spacer {
  width: 10px;
}

.normal-key:hover {
  cursor: pointer;
}

.sp-key:hover {
  cursor: pointer;
}

.green {
  background-color: rgb(83, 141, 78);
}

.yellow {
  background-color: rgb(181, 159, 59);
}

.dark-grey {
  background-color: var(--letter-color);
}

.output-display-1 {
  font-size: 2em;
}

.output-display-2 {
  font-size: 1.5em;
}

.blur {
  filter: blur(4px);
}

.result {
  display: flex;
  justify-content: center;
}

.show-result {
  display: inline-block;
  background-color: rgba(55, 58, 58, 0.8);
  border: 2px solid var(--letter-color);
  width: 310px;
  border-radius: 0.8em;
  position: absolute;
  top: 6em;
  padding: 10px;
}

.both-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide {
  display: none;
}

@media (max-width: 400px) {
  .normal-key {
    font-size: 0.7em;
    width: 30px;
    height: 48px;
    border-radius: 5px;
  }

  .sp-key {
    font-size: 0.7em;
    width: 50px;
    height: 48px;
    border-radius: 5px;
  }

  .keyboard {
    padding: 0 5px;
  }
}
